src/main/mule/dw-functions.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e2cd25c7-4056-455b-a645-d9056758ace0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="55bb6b28-7973-46ad-96aa-181a51a16b74" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="password" database="spk" />
	</db:config>
	<flow name="dw-functionsFlow" doc:id="891f1c7a-5ab1-4385-8dde-3c675ec131b3" >
		<ee:transform doc:name="Transform Message" doc:id="6c1f9bee-ed61-42fa-b153-d51a2930c008" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var empName = "pradeep"
var empSkills = ["skill1","skill2"] as Array
var employee = {
	"empID": "45666",
	"empname": "pradeep",
	"empStatus": "A"
}
var employeeList=[
	{
	"empID": "100",
	"empname": "pradeep",
	"empStatus": "A"
	},
	{
	"empID": "101",
	"empname": "deep",
	"empStatus": "A"
	},
	{
	"empID": "166",
	"empname": "randeep",
	"empStatus": "A"
	},
	{
	"empID": "105",
	"empname": "peep",
	"empStatus": "A"
	}
		
]
---
{
	"sizeOf-fieldlevel": sizeOf(empName),
	"sizeOf-Arraylevel": sizeOf(empSkills),
	"sizeOf-Objectlevel": sizeOf(employee),
	"sizeOf-ArrayOfObjectLevel": sizeOf(employeeList),
	"namefOf-employeeObject": namesOf(employee),
	"entriesOf-employeeObject": entriesOf(employee),
	"keysOfEmployeeObject": keysOf(employee),
	"valuesOfemployeeObject": valuesOf(employee)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dw-functionsFlow1" doc:id="d8687c6a-e303-434f-8dff-edd86f981fb4" >
		<http:listener doc:name="Listener" doc:id="19a6d3df-edb7-4626-874f-7960a5ca551f" config-ref="HTTP_Listener_config" path="/emplfun"/>
		<db:select doc:name="Select" doc:id="0ddcb0e7-465f-48b5-a4dc-2a198ec5612a" config-ref="Database_Config">
			<db:sql ><![CDATA[select emp_id,emp_name,emp_join_date from emp_org where emp_id = :emp_id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	emp_id: attributes.queryParams.empID
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="133bf8a5-954c-4d06-ba9d-cff03940c818" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if(sizeOf(payload) > 0)
{
	"empID": payload[0].emp_id,
	"empName": payload[0].emp_name,
	"empJoinDate": payload[0].emp_join_date
} else {
	"message": "Employee Not Found"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
